<!DOCTYPE html>
<html>
<head>
	<title>Forecast Weather</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
	
	<section class="container-fluid forecast">
		<nav class="navbar bg-dark text-center text-white">Forecast Weather</nav>
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-success" > <a href="#mumbaisection"> Mumbai</a></button>

					<button class="btn btn-success"> <a href="#punesection"> Pune </a></button>
				</div>
			</div>	
			<div id="grapharea">
				<div id = "container" class="chartzone"></div>
				
			</div>

		<!-- Start of Mumbai Section -->
		<section class="container-fluid" id="mumbaisection">
			<div class="row">
				<div id="tabledatamumbai">
					<h3 class="text-dark ml-4 mt-2"><i class="fas fa-map-marker-alt"></i> Mumbai </h3>
					<i class="fas fa-temperature-low"></i><i class="fas fa-water"></i>

					<!-- weather widget start -->
					<a target="_blank" style="float: right;margin-top: -50px;" href="https://www.booked.net/weather/mumbai-26831"><img src="https://w.bookcdn.com/weather/picture/3_26831_1_1_137AE9_430_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=2&domid=w209&anc_id=68828"  alt="booked.net"/></a>
					<!-- weather widget end -->

					
					<div class="choose">
						<form class="form" action="/getforecastmumbai" id="chartform" method="POST">
							<button class="mumbtn" id="databtn">Temperature</button>
						</form>
						<form class="form" action="/gethumiditymum" id="chartform" method="POST">
							<button class="mumbtn" id="databtn">Humidity</button>
						</form>
						<form class="form" action="/getwindspeedmum" id="chartform" method="POST">
							<button class="mumbtn" id="databtn">Wind</button>
						</form>
						<form class="form" action="/getairqualitymum" id="chartform" method="POST">
							<button class="mumbtn" id="databtn">Air Quality</button>
						</form>
						<b style="margin-left: 100px;color: #000;">Visualize:</b> 
						<button style="margin-left: 10px;" class="btn btn-dark text-center" id="btn-mt"> T</button>
						<button style="margin-left: 10px;" class="btn btn-dark text-center" id="btn-mh"> H</button>
						<button style="margin-left: 10px;" class="btn btn-dark text-center" id="btn-mw"> W</button>
						<button style="margin-left: 10px;" class="btn btn-dark text-center" id="btn-maq"> AQ</button>


						<!-- Table Structure data  -->
						<div class="col-md-12 mt-3">
					
							<table class="table table-striped table-bordered text-center table-dark table-hover" id="datatable">
								<thead class="thead-light">
									<th>Date</th>
									<th>Result</th>
								</thead>
								<tbody color: white;>
								{% for data in results %}
									<tr>
										<td>{{data.Date}}</td>
										<td>{{data.Values}}</td>
										
									</tr>
								{% endfor %}
								</tbody>
		
							</table>
							
						</div>
						
					</div>	
				</div>	
			</div>	
		</div>
		</section>
		<!-- End of Mumbai Section	 -->
		
		<!-- Start of Pune Section -->
		<div id="grapharea2">
			<div id = "container2" class="chartzone2"></div>
		</div>
		<section class="container-fluid" id="punesection">
			<div class="row">
				<div id="tabledatapune">
					<h3 class="text-dark ml-4 mt-2"><i class="fas fa-map-marker-alt"></i> Pune</h3>
					<i class="fas fa-temperature-low"></i><i class="fas fa-water"></i>
					
					<!-- weather widget start -->
					<a target="_blank" style="float: right; margin-top: -50px;" href="https://www.booked.net/weather/pune-2119"><img src="https://w.bookcdn.com/weather/picture/3_2119_1_1_137AE9_430_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=2&domid=w209&anc_id=74912"  alt="booked.net"/></a>
					<!-- weather widget end -->

					<div class="choose">
						<form class="form" action="/getforecastpune" id="chartform" method="POST">
							<button class="punebtn" id="databtn">Temperature</button>
						</form>
						<form class="form" action="/gethumiditypune" id="chartform" method="POST">
							<button class="punebtn" id="databtn" >Humidity</button>
						</form>
						<form class="form" action="/getwindspeedpune" id="chartform" method="POST">
							<button class="punebtn" id="databtn">Wind</button>
						</form>
						<form class="form" action="/getairqualitypune" id="chartform" method="POST">
							<button class="punebtn" id="databtn">Air Quality</button>
						</form>
						
						<b style="margin-left: 100px;color: #000;">Visualize:</b> 
						<button style="margin-left: 10px;" class="btn btn-danger text-center" id="btn-pt"> T</button>
						<button style="margin-left: 10px;" class="btn btn-danger text-center" id="btn-ph"> H</button>
						<button style="margin-left: 10px;" class="btn btn-danger text-center" id="btn-pw"> W</button>
						<button style="margin-left: 10px;" class="btn btn-danger text-center" id="btn-paq"> AQ</button>

						<!-- Table Structure data  -->
						<div class="col-md-12 mt-3">
					
							<table class="table table-striped table-bordered text-center table-dark table-hover" id="datatable">
								<thead class="thead-light" >
									<th>Date</th>
									<th>Result</th>
								</thead>
								<tbody color: white;>
								{% for data in res %}
									<tr>
										<td>{{data.Date}}</td>
										<td>{{data.Values}}</td>
										
									</tr>
								{% endfor %}
								</tbody>
		
							</table>
						</div>
						

				</div>
			</div>
		</section>	
		<!-- End of Pune Section -->
	</section>

	
	


<!-- Table BG Color Chnages -->
<script>
		$(document).ready(function() {
		var colors = ["#385c78", "#9d302f","#004d61","#C1292E"],
		selectedColor = colors[Math.floor(Math.random()*colors.length)]
		header = $("table#datatable");
		
		header.css("background-color", selectedColor);
	});
</script>

<!-- Buttons BG Chnages -->
<script>
	$(document).ready(function() {
	var colors = ["#fff1ac", "#96ceb4"],
	selectedColor = colors[Math.floor(Math.random()*colors.length)]
	header = $("button#databtn");
	
	header.css("background-color", selectedColor);
});
</script>

<!-- -----Mumbai Visualization Section begins Here---- -->

	<!-- Mumbai Tempearture Plot -->
	<script>
		// Mumbai Data Visualization
		$('#btn-mt').click(function() {
			var x =  document.getElementById('grapharea');
			if (x.style.display === "none") {
		    x.style.display = "block";
		  } else {
		    x.style.display = "none";
		  }

		  // Mumbai Temperature Plot
			$('#container').highcharts({

				title:{
				      text: 'Mumbai -Predicted Temperature in oC'
				},

				xAxis: {
					categories: ["2020-04-30", "2020-05-01", "2020-05-02", "2020-05-03", "2020-05-04", "2020-05-05"],
					title:{
						enabled:true,
						text:'<b>Dates</b>'
					}
				},
				yAxis:{
					title:{
						enabled:true,
						text:'<b>Temperature</b>'
					}
				},

				series: [{
					data: [31,32, 30, 31, 30, 32]
					
				}]

			})

		
		});
	</script>

	<!-- Mumbai Humidity Plot -->
	<script>
		// Mumbai Humidity Plot
		$('#btn-mh').click(function() {
			var x =  document.getElementById('grapharea');
			if (x.style.display === "none") {
		    x.style.display = "block";
		  } else {
		    x.style.display = "none";
		  }

		  
			$('#container').highcharts({

				title:{
				      text: 'Mumbai -Predicted Humidity in oC'
				},

				xAxis: {
					categories: ["2020-04-30", "2020-05-01", "2020-05-02", "2020-05-03", "2020-05-04", "2020-05-05"],
					title:{
						enabled:true,
						text:'<b>Dates</b>'
					}
				},
				yAxis:{
					title:{
						enabled:true,
						text:'<b>Humidity</b>'
					}
				},

				series: [{
					data: [59,63, 65, 64, 69, 67]
					
				}]

			})

		
		});
	</script>

	<!-- Mumbai WindSpeed Plot -->
	<script>
		
		$('#btn-mw').click(function() {
			var x =  document.getElementById('grapharea');
			if (x.style.display === "none") {
		    x.style.display = "block";
		  } else {
		    x.style.display = "none";
		  }

		  
			$('#container').highcharts({

				title:{
				      text: 'Mumbai -Predicted WindSpeed in Kmph'
				},

				xAxis: {
					categories: ["2020-04-30", "2020-05-01", "2020-05-02", "2020-05-03", "2020-05-04", "2020-05-05"],
					title:{
						enabled:true,
						text:'<b>Dates</b>'
					}
				},
				yAxis:{
					title:{
						enabled:true,
						text:'<b>WindSpeed</b>'
					}
				},

				series: [{
					data: [12.37,12.23, 12.60, 12.99, 13.09, 13.01]
					
				}]

			})

		
		});
	</script>

	<!-- Mumbai AQI Plot -->
	<script>
		
		$('#btn-maq').click(function() {
			var x =  document.getElementById('grapharea');
			if (x.style.display === "none") {
		    x.style.display = "block";
		  } else {
		    x.style.display = "none";
		  }

		  
			$('#container').highcharts({

				title:{
				      text: 'Mumbai -Predicted Air Quality Values'
				},

				xAxis: {
					categories: ["2020-04-30", "2020-05-01", "2020-05-02", "2020-05-03", "2020-05-04", "2020-05-05"],
					title:{
						enabled:true,
						text:'<b>Dates</b>'
					}
				},
				yAxis:{
					title:{
						enabled:true,
						text:'<b>Air Quality Index</b>'
					}
				},

				series: [{
					data: [68,52,55,82,63,67]
					
				}]

			})

		
		});
	</script>

	<!-- Mumbai Visualization End  -->
<!-- -----Pune Visualization Section begins Here---- -->

  <!--  Pune Tempearture Visualization -->
	<script>
		
		$('#btn-pt').click(function() {
			var x =  document.getElementById('grapharea2');
			if (x.style.display === "none") {
			    x.style.display = "block";
			  } 
			else {
			    x.style.display = "none";
			  }
			  
			  $('#container2').highcharts({
  
				  title:{
						text: 'Pune - Predicted Temperature in oC'
				  },
  
				  xAxis: {
					  categories: ["2020-04-30", "2020-05-01", "2020-05-02", "2020-05-03", "2020-05-04", "2020-05-05"],
					  title:{
						  enabled:true,
						  text:'<b>Dates</b>'
					  }
				  },
				  yAxis:{
					  title:{
						  enabled:true,
						  text:'<b>Temperature</b>'
					  }
				  },
  
				  series: [{
					  data: [30,32, 31, 33,32,30,31]
					  
				  }]
  
			  })
		  });
    </script>

  <!-- Pune Humidity Data Plot -->

    <script>
		
		$('#btn-ph').click(function() {
			var x =  document.getElementById('grapharea2');
			if (x.style.display === "none") {
			    x.style.display = "block";
			  } 
			else {
			    x.style.display = "none";
			  }
			  
			  $('#container2').highcharts({
  
				  title:{
						text: 'Pune - Predicted Humidity in oC'
				  },
  
				  xAxis: {
					  categories: ["2020-04-30", "2020-05-01", "2020-05-02", "2020-05-03", "2020-05-04", "2020-05-05"],
					  title:{
						  enabled:true,
						  text:'<b>Dates</b>'
					  }
				  },
				  yAxis:{
					  title:{
						  enabled:true,
						  text:'<b>Humidity</b>'
					  }
				  },
  
				  series: [{
					  data: [51,48, 42, 39,40,42]
					  
				  }]
  
			  })
		  });
	</script>
	
	<!-- Pune WindSpeed Plot -->
	<script>
		
			$('#btn-pw').click(function() {
				var x =  document.getElementById('grapharea2');
				if (x.style.display === "none") {
				x.style.display = "block";
			  } else {
				x.style.display = "none";
			  }
	
			  
				$('#container2').highcharts({
	
					title:{
						  text: 'Pune -Predicted WindSpeed in Kmph'
					},
	
					xAxis: {
						categories: ["2020-04-30", "2020-05-01", "2020-05-02", "2020-05-03", "2020-05-04", "2020-05-05"],
						title:{
							enabled:true,
							text:'<b>Date</b>'
						}
					},
					yAxis:{
						title:{
							enabled:true,
							text:'<b>WindSpeed</b>'
						}
					},
	
					series: [{
						data: [19.25,17.98, 16.71, 15.69, 15.61, 14.92]
						
					}]
	
				})
	
			
			});
		</script>

		<!-- Pune AQI Plot -->
		<script>
		
			$('#btn-paq').click(function() {
				var x =  document.getElementById('grapharea2');
				if (x.style.display === "none") {
				x.style.display = "block";
			  } else {
				x.style.display = "none";
			  }
	
			  
				$('#container2').highcharts({
	
					title:{
						  text: 'Pune -Predicted Air Quality Values'
					},
	
					xAxis: {
						categories: ["2020-04-30", "2020-05-01", "2020-05-02", "2020-05-03", "2020-05-04", "2020-05-05"],
						title:{
							enabled:true,
							text:'<b>Dates</b>'
						}
					},
					yAxis:{
						title:{
							enabled:true,
							text:'<b>Air Quality Index</b>'
						}
					},
	
					series: [{
						data: [65,69,55,70,65,78]
						
					}]
	
				})
	
			
			});
		</script>

		<!-- Pune Visualization End  -->
</body>
</html>